.conteiner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: seagreen;
  height: 90vh;
  width: 55%;

  padding: 20px 0 0 20px;
  overflow: auto;

  @media (max-width: 720px) {
    width: 100%;
  }
}

.conteinerCreateUser {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  // background-color: magenta;

  margin: 0 0 20px 0;
  width: 90%;
  height: auto;
}

.createSessao {
  display: flex;
  align-items: center;
  background-color: lime;

  width: 95%;
  height: 50px;
  border-radius: 5px;
  padding-left: 20px;
}
