.conteiner {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.areaDataUser {
  width: 70%;
  min-width: 500px;
  height: auto;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.divTitleInImgProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.divImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.divAreaContent {
  width: 500px;
  height: auto;

  overflow-y: auto;
  overflow-x: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
