.cardArea {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 90%;
  background-color: mediumorchid;
  margin: 20px 0 20px 0;
  border-radius: 5px;
}

.divCard {
  width: 100%;
  height: auto;
  background-color: olive;
  display: flex;
  align-items: center;
  padding: 10px 0 10px 10px;
  border-radius: 0 0 5px 5px;
}

.title {
  background-color: yellow;
  width: 100%;
  padding: 9px 0 9px 10px;
  border-radius: 5px 5px 0 0;
}

.divLink {
  width: 95%;
  height: auto;
}

.link {
  margin: 10px 0;
  background-color: orange;
  border-radius: 5px;
  padding: 10px 0 10px 10px;
}
