.divLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // box-shadow: inset 0 0 0 1.5px rgba(0, 0, 0, 0.1);
  // border: 1px solid #181818;
  // background-color: #fff;
  background-color: #fff;
  border: 1px solid #c7c3c3;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px;
  // color: #fff;
}

.divTitleLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 97%;
}

.textTitle {
  @media (max-width: 550px) {
    width: 170px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.textLink {
  width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  margin-top: 10px;
}

.button {
  background-color: inherit;
  border: none;

  &:hover {
    color: #fff;
  }
}
