.conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  // background-color: mediumblue;
  // background-color: #dfdede;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: auto;
  width: 95%;
  margin: 20px 0 20px 0;
  border-radius: 5px;
}

.button {
  border: none;
  background-color: inherit;
}

.divCard {
  width: 100%;
  height: 37px;
  // background-color: mediumspringgreen;
  background-color: #d3d0d0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 25px 20px 24px 20px;
  border-radius: 0 0 5px 5px;
}

.divTitle {
  // background-color: lawngreen;
  background-color: #d3d0d0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid rgb(190, 188, 188);
}

.title {
  font-size: 1.3rem;
}

.buttonCreateCard {
  border: none;
  background-color: #54bb3a;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
}
