.conteiner {
  width: auto;
  height: 400px;
  padding: 0 20px;
  background-color: khaki;

  display: flex;
  align-items: center;
  justify-content: center;
}

.divInputButton {
  display: flex;
  background-color: lawngreen;
}
