$back-in-div: #f0f2f5;

.conteiner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: $back-in-div;
  height: 90vh;
  width: 55%;
  order: 0;

  padding: 20px 0 0 20px;
  overflow: auto;

  @media (max-width: 720px) {
    width: 100%;
  }
}

.divIframe {
  width: 300px;
  height: 500px;
  background-color: $back-in-div;
}

.conteinerPreview {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $back-in-div;
  height: 90vh;
  width: 45%;
  order: 1;

  @media (max-width: 720px) {
    display: none;
  }
}

.conteinerCreateUser {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  // background-color: magenta;

  margin: 0 0 20px 0;
  width: 90%;
  height: auto;
}

.createSessao {
  display: flex;
  align-items: center;
  background-color: #fff;
  // border: 1px solid #181818;
  width: 95%;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 70px;
  border-radius: 5px;
  padding-left: 20px;
}

.buttonCreateSessao {
  border: none;
  background-color: inherit;
  // color: #fff;
  border: 1px solid #c7c3c3;
  padding: 10px;
  border-radius: 5px;
}
